<ion-content class="tw-h-full">
  <form [formGroup]="forgotPasswordForm" class="tw-h-full">
    <ion-grid class="tw-mt-2">
      <ion-row>
        <h2>Enter your email and we'll send a link to reset your password.</h2>
      </ion-row>

      <ion-row class="tw-mt-4 tw-mb-4">
        <ion-item lines="none" color="g" size="large" class="tw-w-full tw-rounded-lg rounded input-active-border-p">
          <ion-label position="floating">Email</ion-label>
          <ion-input id="login-email" type="email" formControlName="loginEmail"></ion-input>
        </ion-item>
        <div *ngIf="loginEmail?.touched && loginEmail?.invalid && loginEmail?.value?.length > 0" class="tw-mt-1">
          <div *ngIf="loginEmail?.errors?.['email']">
            <p class="tw-ml-4 text-r tw-text-xs">Please use a real email.</p>
          </div>
        </div>
      </ion-row>
      <ion-row class="tw-mt-4">
        <ion-button
          (click)="initPasswordReset()"
          color="p"
          size="large"
          [disabled]="!forgotPasswordForm.valid"
          class="tw-w-full tw-rounded-lg tw-mb-4"
        >
          Log Out
        </ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
