<ion-header class="shadowless-header">
  <ion-toolbar mode="ios" color="l">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="register/1"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-l">
  <form [formGroup]="addressForm" class="tw-h-full">
    <ion-grid class="tw-h-full tw-flex tw-flex-col tw-justify-center">
      <ion-row class="tw-mb-4 tw-flex tw-justify-center">
        <img src="@multi/mdr/assets/logo/insignia.png" class="tw-w-20" />
      </ion-row>

      <ion-row class="tw-mb-2 tw-flex tw-justify-center">
        <p class="text-ld">
          There's a few more details we need in order to make compensation claims on your behalf:
        </p>
      </ion-row>

      <ion-row class="tw-mb-4">
        <ion-item lines="none" color="g" size="large" class="tw-w-full tw-rounded-lg rounded input-active-border-p">
          <ion-label position="floating">Address 1</ion-label>
          <ion-input id="address1" type="text" formControlName="address1"></ion-input>
        </ion-item>
        <div class="tw-mt-1 error-messages"
          *ngIf="address1?.touched && address1?.invalid"
        >
          <div *ngIf="address1?.errors?.['required']" class="error-message">
            <p class="tw-ml-4 text-r tw-text-xs tw-mb-0">An address is required</p>
          </div>
          <div *ngIf="address1?.errors?.['maxlength']" class="error-message">
            <p class="tw-ml-4 text-r tw-text-xs tw-mb-0">Please enter an address less than 100 characters</p>
          </div>
        </div>
      </ion-row>

      <ion-row class="tw-mb-4">
        <ion-item lines="none" color="g" size="large" class="tw-w-full tw-rounded-lg rounded input-active-border-p">
          <ion-label position="floating">Address 2 (optional)</ion-label>
          <ion-input id="address2" type="text" formControlName="address2"></ion-input>
        </ion-item>
        <div class="tw-mt-1 error-messages"
          *ngIf="address2?.touched && address2?.invalid"
        >
          <div *ngIf="address2?.errors?.['maxlength']" class="error-message">
            <p class="tw-ml-4 text-r tw-text-xs tw-mb-0">Please enter an address less than 100 characters</p>
          </div>
        </div>
      </ion-row>

      <ion-row class="tw-flex tw-flex-row tw-mb-4">
        <div class="tw-w-6/12 tw-pr-1">
          <ion-item lines="none" color="g" size="large" class="tw-w-full tw-rounded-lg rounded input-active-border-p">
            <ion-label position="floating">City</ion-label>
            <ion-input id="city" type="text" formControlName="city"></ion-input>
          </ion-item>
          <div class="tw-mt-1 error-messages" *ngIf="city?.touched && city?.invalid">
            <div *ngIf="city?.errors?.['required']" class="error-message">
              <p class="tw-ml-4 text-r tw-text-xs tw-mb-0">A city is required</p>
            </div>
            <div *ngIf="city?.errors?.['pattern']" class="error-message">
              <p class="tw-ml-4 text-r tw-text-xs tw-mb-0">Please enter a city name with no special characters</p>
            </div>
          </div>
        </div>
        <div class="tw-w-6/12 tw-pl-1">
          <ion-item lines="none" color="g" size="large" class="tw-w-full tw-rounded-lg rounded input-active-border-p">
            <ion-label position="floating">Postcode</ion-label>
            <ion-input id="postcode" type="text" formControlName="postcode"> <!-- [ngModel]="postcode.value" (ngModelChange)="postcode.setValue($event.toUpperCase())" -->
            </ion-input>
          </ion-item>
          <div class="tw-mt-1 error-messages" *ngIf="postcode?.touched && postcode?.invalid">
            <div *ngIf="postcode?.errors?.['required']" class="error-message">
              <p class="tw-ml-4 text-r tw-text-xs tw-mb-0">A postcode is required</p>
            </div>
            <div *ngIf="postcode?.errors?.['pattern']" class="error-message">
              <p class="tw-ml-4 text-r tw-text-xs tw-mb-0">Please enter a valid UK postcode</p>
            </div>
          </div>
        </div>
      </ion-row>

      <ion-row>
        <ion-button (click)="submit()" [disabled]="!addressForm.valid" color="p" size="large" class="tw-w-full tw-rounded-lg tw-mt-4">
          Create Your Account
        </ion-button>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>






<!-- <ion-row class="tw-mb-4">
  <ion-item lines="none" color="g" size="large" class="tw-w-full tw-rounded-lg rounded input-active-border-p">
    <ion-label position="floating">Password</ion-label>
    <ion-input id="password" type="password" formControlName="password"></ion-input>
  </ion-item>
  <div *ngIf="password?.touched && password?.invalid && password?.value?.length > 0" class="tw-mt-1">
    <div *ngIf="password?.errors?.['minlength']">
      <p class="tw-ml-4 text-r tw-text-xs">Your password must be over 6 characters.</p>
    </div>
  </div>
</ion-row> -->

<!-- <ion-row class="tw-flex tw-flex-row tw-flex-nowrap">
  <ion-checkbox id="consent" color="p" class="tw-bg-p tw-w-10 tw-mr-2" formControlName="consent"></ion-checkbox>
  <p class="text-d tw-text-xs">
    Ticking this box confirms you agree to My Delay Repay's Terms & Conditions, and consent to us acting as your legal delay repay
    compensation agent.
  </p>
</ion-row>

<ion-row>
  <ion-button (click)="register()" [disabled]="!regForm.valid" color="p" size="large" class="tw-w-full tw-rounded-lg tw-mt-4"
    >Create An Account</ion-button
  >
</ion-row> -->
